language: python
branches:
  only:
    - master
python: 3.7
dist: xenial
sudo: true
install:
  - pip install -r requirements.txt
  - pip install -r requirements-test.txt
script:
  - ./scripts/lint.sh
  - ./scripts/test.sh
after_success:
  - coveralls
