click==6.7
cssmin==0.2.0
Flask==0.12.2
Flask-Assets==0.12
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
jsmin==2.2.2
MarkupSafe==1.0
mongoengine==0.15.0
passlib==1.7.1
pymongo==3.5.1
six==1.11.0
webassets==0.12.1
Werkzeug==0.12.2
WTForms==2.1
