click==6.7
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
mock==2.0.0
mongoengine==0.14.3
mongomock==3.8.0
passlib==1.7.1
pbr==3.1.1
pymongo==3.5.1
sentinels==1.0.0
six==1.11.0
Werkzeug==0.12.2
WTForms==2.1
