{% extends "layout.html" %}

{% set body_classes="post delete" %}

{% block content %}
<div class="text-center">
  <div class="form-header-plain">
    <h1>Delete your post <em>{{ post.title }}</em>?</h1>
  </div>
  <form action="{{ url_for('post.delete', post_id=post.id) }}" method="post">
    <div class="form-group">
      <button class="btn btn-danger btn-block">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        Delete post
      </button>
    </div>
    <div class="form-group">
      <a class="btn btn-default btn-block" href="{{ url_for('post.show', post_id=post.id) }}">
        Back to post
      </a>
    </div>
  </form>
</div>
{% endblock %}

