{% extends 'layout.html' %}

{% set body_classes='error' %}

{% block content %}
  <div class="text-center">
    <h1>500</h1>
    <h2>Something went wrong.</h2>
    <p>
      Please send an email to
      <a href="mailto:mikelowedev@gmail.com?subject=Tiny: Error Page">mikelowedev@gmail.com</a>
      and I'll look at it straight away.
    </p>
    <form class="search-form search-form-lg" action="{{ url_for('search.index') }}" method="get">
      <input type="search" name="terms" class="form-control search-input" placeholder="Search Tiny" />
    </form>
    <a class="btn btn-primary btn-block" href="{{ url_for('home.index') }}">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      Take me home
    </a>
  </div>
{% endblock %}
