{% extends 'layout.html' %}

{%  block content %}
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper feugiat tortor, eu dignissim turpis viverra eu. Pellentesque vitae faucibus quam, eget dignissim dolor. Maecenas eu mollis neque, quis pulvinar erat. Curabitur dictum ultricies nisi maximus aliquet. Morbi pellentesque dui id leo laoreet maximus. Aliquam eget dapibus est. Etiam enim sapien, ornare eget feugiat et, tincidunt sed diam. Suspendisse aliquam magna tellus, eget consequat massa posuere in. Sed nunc sapien, mattis et arcu eu, bibendum pretium velit.
  </p>
{% endblock %}
