<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>Tiny</title>
  <meta name="description" content="Read, write and comment on blog posts.">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <meta name="msapplication-config" content="{{ url_for('static', filename='browserconfig.xml') }}">
  <meta name="msapplication-TileColor" content="#00a300">
  <meta name="theme-color" content="#ffffff">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE="
    crossorigin="anonymous">
  <!-- fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rozha+One">
  <!-- site css -->
  {% assets 'all_css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
</head>

<body class="{{ body_classes }}">
  <!-- navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header pull-left">
        <a class="navbar-brand" href="{{ url_for('home.index') }}">Tiny</a>
      </div>
      <div class="pull-right">
        <form class="search-form hidden-xs hidden-sm" action="{{ url_for('search.index') }}" method="get">
          <span class="search-btn glyphicon glyphicon-search" aria-hidden="true"></span>
          <input type="search" name="terms" class="form-control search-input collapsed" placeholder="Search Tiny" />
        </form>
        <a class="btn btn-link search-btn hidden-md hidden-lg" href="{{ url_for('search.index') }}">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </a>
        {% if session.user_id %}
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img class="avatar" src="{{ session.avatar_url }}" alt="Avatar">
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="{{ url_for('post.create') }}">New Post</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="{{ url_for('user.show', user_id=session.user_id) }}">Profile</a>
              </li>
              <li>
                <a href="{{ url_for('user.settings') }}">Settings</a>
              </li>
              <li>
                <a href="{{ url_for('user.sign_out') }}" class="sign-out">Sign out</a>
              </li>
            </ul>
          </div>
        {% else %}
          <a class="btn btn-link" href="{{ url_for('user.sign_in') }}">Sign in</a>
          <a class="btn btn-primary" href="{{ url_for('user.sign_up') }}">Sign up</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container-fluid page-container">
    <!-- flashes -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <!-- template content -->
    <div class="page">
      {% block content %}{% endblock %}
    </div>
  </div>

  <footer class="footer container-fluid text-right text-muted">
    <small>
      {{ version }} | <a href="https://github.com/vanillaSlice/tiny">GitHub</a> | Made with 🎧 by <a href="https://mikelowe.xyz">Mike</a>
    </small>
  </footer>

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- jQuery dotdotdot -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/3.2.3/jquery.dotdotdot.js" integrity="sha256-n4myJMxAvCt19AC/KyEEn+W7DwBThTl2safyLWUsuDY=" crossorigin="anonymous"></script>
  <!-- bootstrap js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4=" crossorigin="anonymous"></script>
  <!-- bootstrap validator -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js" integrity="sha256-dHf/YjH1A4tewEsKUSmNnV05DDbfGN3g7NMq86xgGh8=" crossorigin="anonymous"></script>
  <!-- lodash js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
  <!-- site js -->
  {% assets 'all_js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
</body>

</html>
