.post .page {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  overflow-x: auto;
  word-break: break-word;
}

.post.create .page,
.post.update .page,
.post.show .page {
  max-width: 740px;
}

.post .tab-content {
  margin-top: 20px;
}

.post.create #lead_paragraph,
.post.update #lead_paragraph {
  min-height: 114px;
}

.post.create #content,
.post.update #content {
  min-height: 314px;
}

.post .post-info {
  font-size: 13px;
  margin: 15px 0 40px;
}

.post .post-info .avatar {
  border-radius: 50%;
  display: inline-block;
  height: 60px;
  width: 60px;
}

.post .post-info .author-name {
  color: #292929;
  display: block;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post .post-info .author-name:hover,
.post .post-info .author-name:focus {
  color: #292929;
  text-decoration: underline;
}

.post .post-info .bio,
.post .post-info .date  {
  color: #757575;
  display: block;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post .post-info .wrapper {
  display: inline-block;
  vertical-align: middle;
}

.post .post-info .wrapper:nth-child(2) {
  margin-left: 15px;
  width: calc(100% - 80px);
}

.post .page img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post .post-img {
  margin-bottom: 20px;
}

/*
 * Comment stuff
 */

.post .comment-section {
  margin-top: 50px;
}

.post .comments {
  margin: 30px 0 0;
}

.post .comment-card {
  border: 1px solid #f2f2f2;
  margin-bottom: 20px;
  padding: 15px;
}

.post .comment-card .avatar {
  border-radius: 50%;
  display: inline-block;
  height: 46px;
  width: 46px;
}

.post .comment-card .wrapper {
  display: inline-block;
  vertical-align: middle;
}

.post .comment-card .wrapper:nth-child(2) {
  margin-left: 15px;
  width: calc(100% - 80px);
}

.post .comment-card .author-name {
  color: #292929;
  display: block;
  font-size: 13px;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post .comment-card .author-name:hover,
.post .comment-card .author-name:focus {
  color: #292929;
  text-decoration: underline;
}

.post .comment-card .date  {
  color: #757575;
  display: block;
  font-size: 13px;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post .comment-card .text {
  margin-top: 15px;
}
