/*
 * General styles
 */

 body {
  background-color: #fff;
  color: #292929;
}

.btn.active,
.btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-default {
  background-color: #03a87c;
  border-color: #03a87c;
  color: #fff;
}
 
.btn-default:focus,
.btn-default:hover,
.btn-default:active,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover {
  background-color: #018f69;
  border-color: #029e74;
  color: #fff;
}

.btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff;
}
 
.btn-danger:focus,
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger:active.focus,
.btn-danger:active:focus,
.btn-danger:active:hover {
  background-color: #c9302c;
  border-color: #ac2925;
  color: #fff;
}

.btn-link,
.link {
  color: #03a87c;
}

.btn-link:hover,
.btn-link:focus,
.link:hover,
.link:focus {
  color: #018f69;
  text-decoration: none;
}

.form-control {
  color: #292929;
}

.list-group-item {
  border-color: #dbdbdb;
}

hr {
  border-color: #f2f2f2;
}

/*
 * Navbar styles
 */

.navbar-default {
  background-color: #fff;
  border-color: #f2f2f2;
  border-top: none;
  border-right: none;
  border-left: none;
  height: 65px;
  margin: 0 auto;
  max-height: 65px;
  max-width: 1000px;
}

.navbar-default .navbar-brand {
  color: #292929;
  font-family: 'Rozha One', serif;
  font-size: 36px;
  height: 100%;
  line-height: 1;
  padding: 14.5px 15px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #292929;
}

.navbar-default .search-form-container {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.navbar-default .search-form {
  display: inline-block;
  margin: 15.5px 0;
}

.navbar-default .search-input {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: inline-block;
  -webkit-transition: width 0.2s linear;
          transition: width 0.2s linear;
  width: 200px;
}

.navbar-default .search-input.collapsed {
  margin-right: 13px;
  padding: 0;
  width: 0;
}

.navbar-default .glyphicon-search {
  color: #7f7f7f;
  cursor: pointer;
}

.navbar-default .glyphicon-search:hover,
.navbar-default .btn-link:hover .glyphicon-search,
.navbar-default .btn-link:focus .glyphicon-search {
  color: #292929;
}

.navbar-default .btn {
  margin-top: 15.5px;
  margin-bottom: 15.5px;
}

.navbar-default .btn-default {
  background-color: #03a87c;
  border-color: #03a87c;
  color: #fff;
}
 
.navbar-default .btn-default:focus,
.navbar-default .btn-default:hover,
.navbar-default .btn-default:active,
.navbar-default .btn-default.active.focus,
.navbar-default .btn-default.active:focus,
.navbar-default .btn-default.active:hover,
.navbar-default .btn-default:active.focus,
.navbar-default .btn-default:active:focus,
.navbar-default .btn-default:active:hover {
  background-color: #018f69;
  border-color: #029e74;
  color: #fff;
}
 
.navbar-default .btn-link {
  color: #03a87c;
  text-decoration: none;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #018f69;
}

.navbar-default .dropdown {
  display: inline-block;
  margin-left: 13px;
}

.navbar-default .dropdown-menu {
  border-color: #dbdbdb;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 11.5px;
}

.navbar-default .dropdown-menu::before {
  position: absolute;
  top: -7px;
  right: 8px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #dbdbdb;
  border-left: 7px solid transparent;
  border-bottom-color: #dbdbdb;
  content: '';
}

.navbar-default .dropdown-menu::after {
  position: absolute;
  top: -6px;
  right: 9px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.navbar-default .dropdown-menu > li > a {
  color: #666;
  padding: 10px 20px;
}

.navbar-default .dropdown-menu > li > a:focus,
.navbar-default .dropdown-menu > li > a:hover {
  color: #292929;
  text-decoration: none;
  background-color: transparent;
}

.navbar-default .dropdown-menu .divider {
  background-color: #dbdbdb;
}

.navbar-default .avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .navbar-default .container-fluid .navbar-brand {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    margin-left: 0;
    position: absolute;
  }
}

@media (min-width: 1030px) {
  .navbar-default .container-fluid {
    padding: 0;
  }
}

/*
 * Page content styles
 */

.page-content {
  max-width: 1030px;
  padding-top: 95px;
  padding-bottom: 80px;
}

/*
 * 404 page styles
 */

._404-page {
  text-align: center;
}

._404-page h1 {
  font-size: 90px;
}

._404-page h2 {
  color: #b2b2b2;
  font-size: 56px;
  margin-bottom: 40px;
}

._404-page .btn-default {
  font-size: 20px;
}

/*
 * Post card styles
 */

.post-card {
  border: 1px solid #f2f2f2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 400px;
  margin-bottom: 20px;
}

.post-card .post-image {
  background-position: center;
  background-size: cover;
  height: 50%;
  padding: 0;
}

.post-card .post-image a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.post-card .post-details {
  height: 50%;
  padding: 15px;
}

.post-card .post-details > a {
  text-decoration: none;
}

.post-card h2 {
  color: #292929;
  font-size: 19px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-card h3 {
  color: #757575;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 20px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-card .post-bottom {
  bottom: 15px;
  font-size: 13px;
  position: absolute;
}

.post-card .post-bottom .wrapper {
  display: inline-block;
  vertical-align: bottom;
}

.post-card .post-bottom .avatar {
  border-radius: 50%;
  display: block;
  margin-right: 13px;
  height: 36px;
  width: 36px;
}

.post-card .post-bottom .author-name {
  color: #292929;
  display: block;
}

.post-card .post-bottom .published {
  color: #757575;
}

@media (min-width: 768px) {
  .post-card {
    height: 250px;
  }

  .post-card .post-image {
    height: 100%;
  }
  
  .post-card .post-details {
    height: 100%;
  }
}

/*
 * Home page styles
 */

.home-page .load-more {
  display: none;
  margin-top: 20px;
}

/*
 * User styles
 */

.user-sign-in-page,
.user-sign-up-page,
.user-settings-page,
.user-show-page,
.user-update-profile-page,
.user-update-password-page {
  margin: 0 auto;
  max-width: 500px;
}

.user-sign-out-page,
.user-delete-page,
.user-settings-page {
  text-align: center;
}

.user-sign-in-page h1,
.user-sign-up-page h1,
.user-delete-page h1,
.user-settings-page h1,
.user-update-profile-page h1,
.user-update-password-page h1 {
  font-family: 'Rozha One', serif;
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
}

.user-sign-in-page .btn-default,
.user-sign-up-page .btn-default,
.user-update-profile-page .btn-default,
.user-update-password-page .btn-default {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.user-sign-out-page p:first-child,
.user-delete-page p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.user-delete-page .link {
  margin-left: 15px;
}

.user-settings-page .btn {
  width: 100%;
}

.user-show-page .avatar {
  border-radius: 50%;
  float: right;
  height: 100px;
  width: 100px;
}

.user-show-page .user-info {
  margin-bottom: 30px;
}

.user-show-page .joined {
  color: #757575;
}