.user .user-info .display-name,
.user .user-info .bio {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-wrap: break-word;
}

.user .user-info .created {
  color: #666;
  margin-top: 30px;
}

.user .user-info .avatar {
  border-radius: 50%;
  float: right;
  height: 100px;
  margin-top: 20px;
  width: 100px;
}

.user.update-profile #bio {
  min-height: 74px;
}
