/*
 * General styles
 */

body {
  color: #292929;
  background-color: #fff;
}

.container {
  max-width: 1000px;
}

/*
 * Button styles
 */

.btn-primary {
  color: #03a87c;
  background-color: #fff;
  border-color: #03a87c;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover {
  color: #018f69;
  background-color: #fff;
  border-color: #029e74;
}

/*
 * Nav styles
 */

.navbar-default {
  background-color: rgba(255, 255, 255, 0.97);
  border-left: none;
  border-top: none;
  border-right: none;
  border-color: #f2f2f2;
  max-width: 1000px;
  margin: 0 auto;
}

.navbar-default .navbar-header {
  height: 65px;
}

.navbar-default .navbar-brand {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  color: #292929;
  font-size: 32px;
  font-weight: bold;
  padding: 22.5px 15px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #292929;
}

.navbar-default form {
  transform: translateX(90%);
  transition: transform 0.2s linear;
  z-index: 0;
  display: inline-block;
}

.navbar-default form.expanded {
  transform: translateX(0);
}

.navbar-header .form-control {
  display: inline-block;
  width: initial;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-controls {
  position: relative;
  display: inline-block;
  z-index: 2;
  background-color: #fff;
}

.navbar-default .btn-link {
  color: #03a87c;
  text-decoration: none;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #018f69;
}

.navbar-default .btn {
  margin-top: 15.5px;
  margin-bottom: 15.5px;
}

.navbar-default .btn:last-child {
  margin-right: 15px;
}

@media (min-width: 768px) {
  .navbar-default .container {
    padding: 0;
  }

  .navbar-default .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }

  .navbar-default .btn:last-child {
    margin-right: 0;
  }
}

.page-content {
  margin-top: 80px;
}
