/*
 * General styles
 */

body {
  background-color: #fff;
  color: #292929;
}

a {
  color: #03a87c;
}

a:focus,
a:hover {
  color: #018f69;
  text-decoration: none;
}

hr {
  border-color: #f2f2f2;
}

img {
  max-width: 100%;
}

textarea {
  resize: vertical;
}

.btn-default {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #fff;
}

.btn-default:focus,
.btn-default:hover,
.btn-default:active,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover {
  background-color: #286090;
  border-color: #204d74;
  color: #fff;
}

.btn-primary {
  background-color: #03a87c;
  border-color: #03a87c;
  color: #fff;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover {
  background-color: #018f69;
  border-color: #029e74;
  color: #fff;
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #34c29c;
  border-color: #35d1a7;
  color: #fff;
}

.btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff;
}

.btn-danger:focus,
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger:active.focus,
.btn-danger:active:focus,
.btn-danger:active:hover {
  background-color: #c9302c;
  border-color: #ac2925;
  color: #fff;
}

.btn-link {
  color: #03a87c;
}

.btn-link:focus,
.btn-link:hover {
  color: #018f69;
  text-decoration: none;
}

.page-header {
  border-bottom: 1px solid #f2f2f2;
  margin: 40px 0 20px;
  padding-bottom: 9px;
}

.page-header > * {
  font-size: 20px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-wrap: break-word;
}

.form-control {
  border-color: #dbdbdb;
  color: #292929;
}

.has-error .form-control {
  border-color: #a94442;
}

.list-group-item-heading {
  font-size: 18px;
}


/*
 * Navbar styles
 */

.navbar-default {
  background-color: #fff;
  border-color: #f2f2f2;
  border-left: none;
  border-right: none;
  border-top: none;
  height: 65px;
  margin: 0 auto;
  max-height: 65px;
  max-width: 1000px;
}

.navbar-default .container-fluid {
  max-height: 65px;
}

.navbar-default .btn {
  margin-bottom: 15.5px;
  margin-top: 15.5px;
}

.navbar-default .btn-primary {
  background-color: #03a87c;
  border-color: #03a87c;
  color: #fff;
}

.navbar-default .btn-primary:focus,
.navbar-default .btn-primary:hover,
.navbar-default .btn-primary:active,
.navbar-default .btn-primary.active.focus,
.navbar-default .btn-primary.active:focus,
.navbar-default .btn-primary.active:hover,
.navbar-default .btn-primary:active.focus,
.navbar-default .btn-primary:active:focus,
.navbar-default .btn-primary:active:hover {
  background-color: #018f69;
  border-color: #029e74;
  color: #fff;
}

.navbar-default .btn-link {
  color: #03a87c;
  text-decoration: none;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #018f69;
}

.navbar-default .navbar-brand {
  color: #292929;
  font-family: 'Rozha One', serif;
  font-size: 36px;
  height: 100%;
  line-height: 1;
  padding: 14.5px 15px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #292929;
}

.navbar-default .search-form {
  display: inline-block;
  margin: 15.5px 0;
  overflow: hidden;
  vertical-align: middle;
}

.navbar-default .search-btn {
  color: #7f7f7f;
  cursor: pointer;
}

.navbar-default .search-btn:focus,
.navbar-default .search-btn:hover {
  color: #292929;
}

.navbar-default .search-input {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #292929;
  display: inline-block;
  -webkit-transition: width 0.2s linear;
          transition: width 0.2s linear;
  width: 200px;
}

.navbar-default .search-input.collapsed {
  margin-right: 13px;
  padding: 0;
  width: 0;
}

.navbar-default .dropdown {
  display: inline-block;
  margin-left: 13px;
}

.navbar-default .dropdown-menu {
  border-color: #dbdbdb;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 11.5px;
}

.navbar-default .dropdown-menu::before {
  border-bottom: 7px solid #dbdbdb;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: '';
  display: inline-block;
  position: absolute;
  right: 8px;
  top: -7px;
}

.navbar-default .dropdown-menu::after {
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: '';
  display: inline-block;
  position: absolute;
  right: 9px;
  top: -6px;
}

.navbar-default .dropdown-menu > li > a {
  color: #666;
  padding: 10px 20px;
}

.navbar-default .dropdown-menu > li > a:focus,
.navbar-default .dropdown-menu > li > a:hover {
  background-color: transparent;
  color: #292929;
  text-decoration: none;
}

.navbar-default .dropdown-menu .divider {
  background-color: #dbdbdb;
}

.navbar-default .avatar {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

@media (min-width: 768px) {
  .navbar-default .container-fluid .navbar-brand {
    left: 50%;
    margin-left: 0;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (min-width: 1030px) {
  .navbar-default .container-fluid {
    padding: 0;
  }
}


/*
 * General page styles
 */

.page-container {
  max-width: 1030px;
  padding-bottom: 80px;
  padding-top: 80px;
}

.page {
  margin: 0 auto;
  max-width: 600px;
}

.page .section-header,
.page .form-header {
  border-bottom: 1px solid #f2f2f2;
  margin: 40px 0 20px;
  padding-bottom: 9px;
}

.page .page-header.plain,
.page .section-header.plain,
.page .form-header.plain {
  border-bottom-color: transparent;
}

.page .section-header > *,
.page .form-header > * {
  font-size: 20px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-wrap: break-word;
}

.page .search-form-lg .search-input {
  border: none;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 50px;
  height: 80px;
  padding: 0;
}

.page .search-form-lg .search-input:focus {
  border-bottom-color: #292929;
}


/*
 * Post card styles
 */

.post-card {
  border: 1px solid #f2f2f2;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  height: 400px;
  margin-bottom: 20px;
}

.post-card .post-image {
  background-position: center;
  background-size: cover;
  height: 50%;
  padding: 0;
}

.post-card .post-image a {
  display: block;
  height: 100%;
  width: 100%;
}

.post-card .post-details {
  height: 50%;
  padding: 15px;
}

.post-card .post-details-top {
  height: 118px;
  margin-bottom: 15px;
}

.post-card .title {
  color: #292929;
  font-size: 19px;
  margin: 0;
  max-height: 60px;
  overflow: hidden;
}

.post-card .lead-paragraph {
  color: #757575;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 20px;
  margin-top: 15px;
  max-height: 40px;
  overflow: hidden;
}

.post-card .post-details-bottom {
  bottom: 15px;
  height: 36px;
  font-size: 13px;
}

.post-card .post-details-bottom .wrapper {
  display: inline-block;
  vertical-align: bottom;
}

.post-card .post-details-bottom .wrapper:nth-child(2) {
  width: calc(100% - 49px);
}

.post-card .avatar {
  border-radius: 50%;
  display: block;
  margin-right: 13px;
  height: 36px;
  width: 36px;
}

.post-card .author-name {
  color: #292929;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-card .author-name:focus,
.post-card .author-name:hover {
  color: #292929;
  text-decoration: underline;
}

.post-card .created {
  color: #757575;
}

@media (min-width: 768px) {
  .post-card {
    height: 250px;
  }

  .post-card .post-image {
    height: 100%;
  }

  .post-card .post-details {
    height: 100%;
  }

  .post-card .post-details-top {
    height: 167px;
  }

  .post-card .title {
    max-height: 80px;
  }

  .post-card .lead-paragraph {
    max-height: 60px;
  }
}


/*
 * 404 page styles
 */

._404 h1 {
  font-size: 90px;
}

._404 h2 {
  color: #b2b2b2;
}

._404 .page .search-form {
  margin: 50px 0;
}


/*
 * Home page styles
 */

.home .page {
  max-width: 1030px;
}


/*
 * Post page styles
 */

.post .page {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  overflow-x: auto;
  word-break: break-word;
}

.post.create .page,
.post.update .page,
.post.show .page {
  max-width: 740px;
}

.post .tab-content {
  margin-top: 20px;
}

.post.create #lead_paragraph,
.post.update #lead_paragraph {
  min-height: 114px;
}

.post.create #content,
.post.update #content {
  min-height: 314px;
}

.post .post-info {
  font-size: 13px;
  margin: 15px 0 40px;
}

.post .post-info .avatar {
  border-radius: 50%;
  display: inline-block;
  height: 60px;
  width: 60px;
}

.post .post-info .author-name {
  color: #292929;
  display: block;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post .post-info .author-name:focus,
.post .post-info .author-name:hover {
  color: #292929;
  text-decoration: underline;
}

.post .post-info .bio,
.post .post-info .date {
  color: #757575;
  display: block;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post .post-info .wrapper {
  display: inline-block;
  vertical-align: middle;
}

.post .post-info .wrapper:nth-child(2) {
  margin-left: 15px;
  width: calc(100% - 80px);
}

.post .page img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post .post-img {
  margin-bottom: 20px;
}


/*
 * Comment card styles
 */

.post .comment-section {
  margin-top: 50px;
}

.post .comments {
  margin: 30px 0 0;
}

.post .comment-card {
  border: 1px solid #f2f2f2;
  margin-bottom: 20px;
  padding: 15px;
}

.post .comment-card .avatar {
  border-radius: 50%;
  display: inline-block;
  height: 46px;
  width: 46px;
}

.post .comment-card .wrapper {
  display: inline-block;
  vertical-align: middle;
}

.post .comment-card .wrapper:nth-child(2) {
  margin-left: 15px;
  width: calc(100% - 80px);
}

.post .comment-card .author-name {
  color: #292929;
  display: block;
  font-size: 13px;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post .comment-card .author-name:hover,
.post .comment-card .author-name:focus {
  color: #292929;
  text-decoration: underline;
}

.post .comment-card .date {
  color: #757575;
  display: block;
  font-size: 13px;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post .comment-card .text {
  margin-top: 15px;
}


/*
 * Search page styles
 */

.search .page .search-form {
  margin: 10px 0 50px;
}


/*
 * User page styles
 */

.user .user-info .display-name,
.user .user-info .bio {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-wrap: break-word;
}

.user .user-info .created {
  color: #666;
  margin-top: 30px;
}

.user .user-info .avatar {
  border-radius: 50%;
  float: right;
  height: 100px;
  margin-top: 20px;
  width: 100px;
}

.user.update-profile #bio {
  min-height: 74px;
}
