{% extends 'layout.html' %}

{% set body_classes='user delete' %}

{% block content %}
  <div class="text-center">
    <div class="form-header plain">
      <h1>Delete account</h1>
      This will delete your account, all blog posts and comments.
    </div>
    <form action="{{ url_for('user.delete') }}" method="post">
      <div class="form-group">
        <button class="btn btn-danger btn-block">
          Delete my account
        </button>
      </div>
      <div class="form-group">
        <a class="btn btn-default btn-block" href="{{ url_for('user.settings') }}">
          Back to settings
        </a>
      </div>
    </form>
  </div>
{% endblock %}
