{% extends 'layout.html' %}

{% set body_classes='user settings' %}

{% block content %}
  <div class="text-center">
    <div class="page-header plain">
      <h1>User settings</h1>
    </div>
    <div class="list-group">
      <a href="{{ url_for('user.update_profile') }}" class="list-group-item">
        <h2 class="list-group-item-heading">Update Profile</h2>
        <p class="list-group-item-text">Update display name, avatar and bio.</p>
      </a>
      <a href="{{ url_for('user.update_password') }}" class="list-group-item">
        <h2 class="list-group-item-heading">Update Password</h2>
        <p class="list-group-item-text">Update password for this account.</p>
      </a>
    </div>
    <div class="list-group">
      <a href="{{ url_for('user.delete') }}" class="list-group-item list-group-item-danger">
        <h2 class="list-group-item-heading">Delete Account</h2>
        <p class="list-group-item-text">Delete account and all of your content.</p>
      </a>
    </div>
    <a class="btn btn-default btn-block" href="{{ url_for('user.show', user_id=user.id) }}">
      Back to profile
    </a>
  </div>
{% endblock %}
