{% extends "layout.html" %}

{% from "_formhelpers.html" import render_field %}

{% set body_classes="user sign-up" %}

{% block content %}
  <div class="form-header-plain text-center">
    <h1>Sign up</h1>
  </div>
  <form action="{{ url_for('user.sign_up') }}" method="post">
    {{ render_field(form.email, placeholder="Email") }}
    {{ render_field(form.display_name, placeholder="Display Name") }}
    {{ render_field(form.password, placeholder="Password") }}
    {{ render_field(form.confirmation, placeholder="Confirmation") }}
    <div class="form-group">
      <button type="submit" class="btn btn-default btn-block">Sign up</button>
    </div>
  </form>
  <div class="text-center">
    Already have an account? <a class="link" href="{{ url_for('user.sign_in') }}">Sign in</a>.
  </div>
{% endblock %}
