{% extends 'layout.html' %}

{% from '_formhelpers.html' import render_field, render_form_errors %}

{% set body_classes='user sign-in' %}

{% block content %}
  <div class="form-header plain text-center">
    <h1>Sign in</h1>
  </div>
  {{ render_form_errors(form) }}
  <form data-toggle="validator" role="form" action="{{ url_for('user.sign_in', next=request.args.get('next', '')) }}" method="post">
    {{ form.csrf_token }}
    {{ render_field(form.email, type='email', required=True, data_error='Email address is invalid') }}
    {{ render_field(form.password, required=True) }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    </div>
  </form>
  <div class="text-center">
    Are you new to Tiny? <a class="link" href="{{ url_for('user.sign_up') }}">Sign up</a>.
  </div>
{% endblock %}
