{% extends "layout.html" %}

{% from "_formhelpers.html" import render_field %}

{% set body_classes="user update-password" %}

{% block content %}
  <div class="form-header-plain text-center">
    <h1>Update password</h1>
  </div>
  <form action="{{ url_for('user.update_password') }}" method="post">
    {{ render_field(form.current_password, placeholder="Current Password") }}
    {{ render_field(form.new_password, placeholder="New Password") }}
    {{ render_field(form.confirmation, placeholder="Confirmation") }}
    <div class="form-group">
      <button type="submit" class="btn btn-default btn-block">Update</button>
    </div>
    <div class="form-group">
      <a class="btn btn-default btn-block" href="{{ url_for('user.settings') }}">Back to settings</a>
      </div>
  </form>
{% endblock %}
