{% extends "layout.html" %}

{% from "_formhelpers.html" import render_field %}

{% set page_name="user-update-password" %}

{% block content %}
  <h1>Update Password</h1>
  <form action="{{ url_for('user.update_password') }}" method="post">
    {{ render_field(form.current_password, placeholder="Current Password") }}
    {{ render_field(form.new_password, placeholder="New Password") }}
    {{ render_field(form.confirmation, placeholder="Confirmation") }}
    <button type="submit" class="btn btn-default">Update</button>
    <div class="text-center">
      <a class="link" href="{{ url_for('user.settings') }}">Cancel</a>
    </div>
  </form>
{% endblock %}
