{% extends "layout.html" %}

{% from "_formhelpers.html" import render_field %}

{% set body_classes="user update-profile" %}

{% block content %}
  <div class="form-header-plain text-center">
    <h1>Update profile</h1>
  </div>
  <form action="{{ url_for('user.update_profile') }}" method="post">
    {{ render_field(form.display_name, placeholder="Display Name") }}
    {{ render_field(form.avatar_url, placeholder="Avatar URL") }}
    {{ render_field(form.bio, placeholder="Bio")}}
    <div class="form-group">
      <button type="submit" class="btn btn-default btn-block">Update</button>
    </div>
    <div class="form-group">
      <a class="btn btn-default btn-block" href="{{ url_for('user.settings') }}">Back to settings</a>
    </div>
  </form>
{% endblock %}
