{% extends 'layout.html' %}

{% from '_formhelpers.html' import render_field, render_form_errors %}

{% set body_classes='user update-profile' %}

{% block content %}
  <div class="form-header plain text-center">
    <h1>Update profile</h1>
  </div>
  {{ render_form_errors(form) }}
  <form data-toggle="validator" role="form" action="{{ url_for('user.update_profile') }}" method="post">
    {{ form.csrf_token }}
    {{ render_field(form.display_name, required=True, maxlength=50) }}
    {{ render_field(form.avatar_url, required=True, type='url') }}
    {{ render_field(form.bio, placeholder='Tell us a bit about yourself', maxlength=160, rows=3)}}
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Update</button>
    </div>
    <div class="form-group">
      <a class="btn btn-default btn-block" href="{{ url_for('user.settings') }}">Back to settings</a>
    </div>
  </form>
{% endblock %}
