{% extends 'layout.html' %}

{% from '_formhelpers.html' import render_field, render_form_errors %}

{% set body_classes='user update-password' %}

{% block content %}
  <div class="form-header plain text-center">
    <h1>Update password</h1>
  </div>
  {{ render_form_errors(form) }}
  <form data-toggle="validator" role="form" action="{{ url_for('user.update_password') }}" method="post">
    {{ form.csrf_token }}
    {{ render_field(form.current_password, required=True) }}
    {{ render_field(form.new_password, bottom_help='Minimum of 6 characters', required=True, data_minlength='6') }}
    {{ render_field(form.confirmation, required=True) }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Update</button>
    </div>
    <div class="form-group">
      <a class="btn btn-default btn-block" href="{{ url_for('user.settings') }}">Back to settings</a>
    </div>
  </form>
{% endblock %}
